<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of d5whub extend router
  ~ @author Vitor Reis <vitor@d5w.com.br>
  -->

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    testdox="true"
    cacheResult="false"
>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
    <testsuites>
        <testsuite name="D5W Extend Router Unit Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/Benchmark/</exclude>
            <exclude>./tests/UnitTest/*</exclude>
        </testsuite>
    </testsuites>
</phpunit>
